<main class="p-10 mx-auto max-w-7xl">
  <h1 class="font-mono text-4xl font-bold text-center text-white">
    Cálculo de Notas de Estudiantes
  </h1>

  <section
    class="grid w-full grid-cols-1 gap-5 p-3 mt-10 border rounded-md lg:grid-cols-2"
  >
    <div class="p-3 border rounded-md">
      <h2 class="font-mono text-xl font-semibold text-white">
        Cálculo Estudiante
      </h2>

      <app-form-notes
        [userInput]="userInput"
        [error]="error"
        [students]="students"
        [handleChangeNotes]="handleChangeNotes"
        [handleSubmit]="handleSubmit"
      ></app-form-notes>
    </div>

    <div class="p-3 border rounded-md">
      <h2 class="font-mono text-xl font-semibold text-white">
        Listado de Estudiantes
      </h2>

      <app-students-table
        [students]="students"
        [handleDeleteStudent]="handleDeleteStudent"
      ></app-students-table>
    </div>
  </section>
</main>
